In [121]:
import numpy as np
import pandas as pd

from pycaret.regression import *

# 변수셋3 모델별 비교

In [127]:
male_df = pd.read_csv('Z:/공모전/날씨빅데이터콘테스트(공유)/data/hospital_male_0725.csv', encoding='cp949')
male_df.mm = male_df.mm.astype('int64')
male_df.head()

,area,tma,yyyy,mm,dd,weekday,avg_ta,max_ta,min_ta,sum_gsr,...,sex,frequency,elderly_pop,total_pop,elderly_ratio,avg_age,rhm_min_avg_dif,min_max_Ta,min_max_ps,D/R
0,강원,2012-01-01,2012.0,1,1.0,6,-4.226027,0.140278,-9.140278,0.000000,...,1,3,96281.0,772718.0,12.460044,39.4,23.088571,9.280556,6.340,3.882400
1,경기,2012-01-01,2012.0,1,1.0,6,-3.962264,0.322642,-8.922642,0.000000,...,1,4,447450.0,6020446.0,7.432174,36.1,25.065517,9.245283,5.500,0.664403
2,경남,2012-01-01,2012.0,1,1.0,6,0.335897,5.789744,-4.284615,0.000000,...,1,2,152866.0,1665308.0,9.179443,37.4,19.133333,10.074359,5.200,1.200979
3,경북,2012-01-01,2012.0,1,1.0,6,-0.666667,4.298246,-5.329825,0.000702,...,1,6,167115.0,1354649.0,12.336406,39.5,17.005263,9.628070,5.688,4.429192
4,광주,2012-01-01,2012.0,1,1.0,6,-0.200000,2.880000,-3.620000,0.000000,...,1,0,55792.0,726529.0,7.679253,35.3,15.400000,6.500000,4.100,0.000000

In [235]:
female_df = pd.read_csv('Z:/공모전/날씨빅데이터콘테스트(공유)/data/hospital_female_0725.csv', encoding='cp949')
female_df.mm = female_df.mm.astype('int64')
female_df.head()

,area,tma,yyyy,mm,dd,weekday,avg_ta,max_ta,min_ta,sum_gsr,...,sex,frequency,elderly_pop,total_pop,elderly_ratio,avg_age,rhm_min_avg_dif,min_max_Ta,min_max_ps,D/R
0,강원,2012-01-01,2012.0,1,1.0,6,-4.226027,0.140278,-9.140278,0.000000,...,2,3,137678.0,762617.0,18.053361,42.4,23.088571,9.280556,6.340,3.933823
1,경기,2012-01-01,2012.0,1,1.0,6,-3.962264,0.322642,-8.922642,0.000000,...,2,5,631291.0,5928150.0,10.649039,37.7,25.065517,9.245283,5.500,0.843433
2,경남,2012-01-01,2012.0,1,1.0,6,0.335897,5.789744,-4.284615,0.000000,...,2,1,247889.0,1644251.0,15.076105,40.5,19.133333,10.074359,5.200,0.608180
3,경북,2012-01-01,2012.0,1,1.0,6,-0.666667,4.298246,-5.329825,0.000702,...,2,1,258405.0,1342455.0,19.248690,43.2,17.005263,9.628070,5.688,0.744904
4,광주,2012-01-01,2012.0,1,1.0,6,-0.200000,2.880000,-3.620000,0.000000,...,2,2,81546.0,738784.0,11.037868,37.6,15.400000,6.500000,4.100,2.707151

In [299]:
cols_1 = ['area','mm','weekday','total_pop','elderly_ratio',
          'so2','pm10','rhm_min_avg_dif','min_max_Ta','avg_ps',
          'o3','avg_ta','sum_rn', 'frequency']

cols_2 = ['area','mm','weekday','total_pop','elderly_ratio',
          'so2','pm10','rhm_min_avg_dif','min_max_Ta','avg_ps',
          'avg_age','sum_gsr','sum_rn','avg_rhm', 'frequency']

cols_3 = ['area', 'mm', 'weekday', 'total_pop', 'elderly_ratio',
        'so2', 'pm10', 'rhm_min_avg_dif', 'min_max_Ta', 'avg_ps',
        'avg_age', 'avg_ta', 'sum_gsr', 'sum_rn', 'avg_rhm', 'frequency']

female_dataset = female_df[cols_3]
female_dataset.head(3)

,area,mm,weekday,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,sum_rn,avg_rhm,frequency
0,강원,1,6,762617.0,18.053361,0.012233,86.279167,23.088571,9.280556,1023.886667,42.4,-4.226027,0.0,0.173611,71.285714,3
1,경기,1,6,5928150.0,10.649039,0.009216,91.567357,25.065517,9.245283,1024.875000,37.7,-3.962264,0.0,0.037736,73.827586,5
2,경남,1,6,1644251.0,15.076105,0.008878,59.554398,19.133333,10.074359,1022.950000,40.5,0.335897,0.0,0.065789,63.333333,1

In [201]:
male_data = male_dataset.sample(frac=0.9, random_state=786) 
male_data_unseen = male_dataset.drop(male_data.index) 

male_data.reset_index(drop=True, inplace=True) 
male_data_unseen.reset_index(drop=True, inplace=True) 

print('Data for Modeling: ' + str(male_data.shape)) 
print('Unseen Data For Predictions: ' + str(male_data_unseen.shape))

Data for Modeling: (22353, 16)
Unseen Data For Predictions: (2484, 16)

In [300]:
female_data = female_dataset.sample(frac=0.9, random_state=786) 
female_data_unseen = female_dataset.drop(female_data.index) 

female_data.reset_index(drop=True, inplace=True) 
female_data_unseen.reset_index(drop=True, inplace=True) 

print('Female Data for Modeling: ' + str(female_data.shape)) 
print('Unseen Data For Predictions: ' + str(female_data_unseen.shape))

Female Data for Modeling: (22353, 16)
Unseen Data For Predictions: (2484, 16)

In [301]:
# s = setup(male_data, target = 'frequency', session_id=123)
s = setup(female_data, target = 'frequency', session_id=123)

In [302]:
best_model_5 = compare_models(sort='RMSE', n_select = 5)

final_model = finalize_model(best_model_5[0])
prediction = predict_model(final_model, data=female_data_unseen)
prediction.head()

,area,mm,weekday,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,sum_rn,avg_rhm,frequency,Label
0,경기,1,6,5928150.0,10.649039,0.009216,91.567357,25.065517,9.245283,1024.875000,37.7,-3.962264,0.000000,0.037736,73.827586,5,3.755646
1,대구,1,6,1256489.0,12.375118,0.009544,62.871377,6.000000,9.333333,1022.900000,40.0,0.200000,0.000000,0.166667,54.000000,0,0.930491
2,전남,1,6,956701.0,23.026421,0.010387,60.954167,16.306250,6.673973,1024.681481,44.3,2.398630,0.628219,0.297297,73.562500,6,1.216265
3,대구,1,1,1256489.0,12.375118,0.006578,59.842754,21.300000,6.766667,1020.750000,40.0,-0.566667,0.000000,0.500000,56.000000,1,1.250725
4,강원,1,2,762617.0,18.053361,0.012346,73.483333,16.859664,8.512676,1024.880000,42.4,-8.506944,0.000000,0.000000,62.588235,2,1.014389

In [303]:
tuned_top5 = [tune_model(i, optimize = 'RMSE', n_iter=10) for i in best_model_5]

final_model = finalize_model(tuned_top5[0])
prediction = predict_model(final_model, data=female_data_unseen)
prediction.head()

,area,mm,weekday,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,sum_rn,avg_rhm,frequency,Label
0,경기,1,6,5928150.0,10.649039,0.009216,91.567357,25.065517,9.245283,1024.875000,37.7,-3.962264,0.000000,0.037736,73.827586,5,3.252087
1,대구,1,6,1256489.0,12.375118,0.009544,62.871377,6.000000,9.333333,1022.900000,40.0,0.200000,0.000000,0.166667,54.000000,0,1.193928
2,전남,1,6,956701.0,23.026421,0.010387,60.954167,16.306250,6.673973,1024.681481,44.3,2.398630,0.628219,0.297297,73.562500,6,1.392895
3,대구,1,1,1256489.0,12.375118,0.006578,59.842754,21.300000,6.766667,1020.750000,40.0,-0.566667,0.000000,0.500000,56.000000,1,1.294049
4,강원,1,2,762617.0,18.053361,0.012346,73.483333,16.859664,8.512676,1024.880000,42.4,-8.506944,0.000000,0.000000,62.588235,2,1.192848

In [304]:
# blender_male = blend_models(estimator_list=best_model_5, optimize = 'RMSE')
blender_female = blend_models(estimator_list=best_model_5, optimize = 'RMSE')

In [305]:
# predict_model(blender_male)
predict_model(blender_female)

,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,...,mm_9,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,frequency,Label
0,1342778.0,19.652466,0.005236,37.764187,40.299999,14.460714,1025.527954,43.500000,4.544643,0.000175,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2,1.858270
1,1777955.0,16.048269,0.008195,51.529297,22.314285,11.400000,1031.750000,43.200001,10.050000,9.578571,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2,1.743357
2,758997.0,12.481868,0.005008,56.270832,35.599998,13.800000,1029.699951,39.900002,0.466667,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0.811039
3,1643272.0,15.142898,0.006615,39.336517,29.625000,15.510257,1026.699951,40.599998,-0.141026,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2.415994
4,939536.0,19.553162,0.006350,61.500000,38.208332,12.543333,1030.219971,42.799999,0.250000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,1.070110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1648769.0,15.472878,0.004684,45.098373,34.444614,4.948718,1021.285706,40.900002,1.558974,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,2.008211
6702,765109.0,19.142370,0.012651,113.920456,27.151922,9.938666,972.428589,43.500000,-4.272000,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1.004612
6703,955743.0,23.193159,0.006704,43.572918,24.610483,5.841096,1015.053833,44.400002,5.830137,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3,1.448187
6704,1256076.0,12.991810,0.011172,81.419273,20.200001,15.600000,1024.750000,40.500000,0.733333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0.955844
6705,939576.0,19.100424,0.004843,96.145836,34.645454,14.456667,1006.973328,42.400002,17.103333,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1.695300

In [306]:
# final_model = finalize_model(blender_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(blender_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,sum_rn,avg_rhm,frequency,Label
0,경기,1,6,5928150.0,10.649039,0.009216,91.567357,25.065517,9.245283,1024.875000,37.7,-3.962264,0.000000,0.037736,73.827586,5,3.909659
1,대구,1,6,1256489.0,12.375118,0.009544,62.871377,6.000000,9.333333,1022.900000,40.0,0.200000,0.000000,0.166667,54.000000,0,0.873786
2,전남,1,6,956701.0,23.026421,0.010387,60.954167,16.306250,6.673973,1024.681481,44.3,2.398630,0.628219,0.297297,73.562500,6,1.280014
3,대구,1,1,1256489.0,12.375118,0.006578,59.842754,21.300000,6.766667,1020.750000,40.0,-0.566667,0.000000,0.500000,56.000000,1,1.287809
4,강원,1,2,762617.0,18.053361,0.012346,73.483333,16.859664,8.512676,1024.880000,42.4,-8.506944,0.000000,0.000000,62.588235,2,1.121716

In [307]:
# blender_male = blend_models(estimator_list=tuned_top5, optimize = 'RMSE')
blender_female = blend_models(estimator_list=tuned_top5, optimize = 'RMSE')

In [308]:
# predict_model(blender_male)
predict_model(blender_female)

,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,...,mm_9,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,frequency,Label
0,1342778.0,19.652466,0.005236,37.764187,40.299999,14.460714,1025.527954,43.500000,4.544643,0.000175,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2,1.814936
1,1777955.0,16.048269,0.008195,51.529297,22.314285,11.400000,1031.750000,43.200001,10.050000,9.578571,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2,1.673897
2,758997.0,12.481868,0.005008,56.270832,35.599998,13.800000,1029.699951,39.900002,0.466667,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0.825771
3,1643272.0,15.142898,0.006615,39.336517,29.625000,15.510257,1026.699951,40.599998,-0.141026,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2.317470
4,939536.0,19.553162,0.006350,61.500000,38.208332,12.543333,1030.219971,42.799999,0.250000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,1.102619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1648769.0,15.472878,0.004684,45.098373,34.444614,4.948718,1021.285706,40.900002,1.558974,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,1.988321
6702,765109.0,19.142370,0.012651,113.920456,27.151922,9.938666,972.428589,43.500000,-4.272000,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1.097241
6703,955743.0,23.193159,0.006704,43.572918,24.610483,5.841096,1015.053833,44.400002,5.830137,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3,1.506615
6704,1256076.0,12.991810,0.011172,81.419273,20.200001,15.600000,1024.750000,40.500000,0.733333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1.044449
6705,939576.0,19.100424,0.004843,96.145836,34.645454,14.456667,1006.973328,42.400002,17.103333,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1.697599

In [309]:
# final_model = finalize_model(blender_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(blender_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,sum_rn,avg_rhm,frequency,Label
0,경기,1,6,5928150.0,10.649039,0.009216,91.567357,25.065517,9.245283,1024.875000,37.7,-3.962264,0.000000,0.037736,73.827586,5,3.851076
1,대구,1,6,1256489.0,12.375118,0.009544,62.871377,6.000000,9.333333,1022.900000,40.0,0.200000,0.000000,0.166667,54.000000,0,0.955026
2,전남,1,6,956701.0,23.026421,0.010387,60.954167,16.306250,6.673973,1024.681481,44.3,2.398630,0.628219,0.297297,73.562500,6,1.387961
3,대구,1,1,1256489.0,12.375118,0.006578,59.842754,21.300000,6.766667,1020.750000,40.0,-0.566667,0.000000,0.500000,56.000000,1,1.286429
4,강원,1,2,762617.0,18.053361,0.012346,73.483333,16.859664,8.512676,1024.880000,42.4,-8.506944,0.000000,0.000000,62.588235,2,1.148405

In [310]:
# bagging_male = ensemble_model(best_model_5[0], method='Bagging', choose_better = True)
bagging_female = ensemble_model(best_model_5[0], method='Bagging', choose_better = True)

In [311]:
# predict_model(bagging_male)
predict_model(bagging_female)

,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,...,mm_9,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,frequency,Label
0,1342778.0,19.652466,0.005236,37.764187,40.299999,14.460714,1025.527954,43.500000,4.544643,0.000175,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2,1.810580
1,1777955.0,16.048269,0.008195,51.529297,22.314285,11.400000,1031.750000,43.200001,10.050000,9.578571,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2,1.742512
2,758997.0,12.481868,0.005008,56.270832,35.599998,13.800000,1029.699951,39.900002,0.466667,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0.761967
3,1643272.0,15.142898,0.006615,39.336517,29.625000,15.510257,1026.699951,40.599998,-0.141026,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2.385506
4,939536.0,19.553162,0.006350,61.500000,38.208332,12.543333,1030.219971,42.799999,0.250000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,1.090548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1648769.0,15.472878,0.004684,45.098373,34.444614,4.948718,1021.285706,40.900002,1.558974,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,2.057717
6702,765109.0,19.142370,0.012651,113.920456,27.151922,9.938666,972.428589,43.500000,-4.272000,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0.992254
6703,955743.0,23.193159,0.006704,43.572918,24.610483,5.841096,1015.053833,44.400002,5.830137,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3,1.549667
6704,1256076.0,12.991810,0.011172,81.419273,20.200001,15.600000,1024.750000,40.500000,0.733333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1.045724
6705,939576.0,19.100424,0.004843,96.145836,34.645454,14.456667,1006.973328,42.400002,17.103333,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1.559734

In [312]:
# final_model = finalize_model(bagging_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(bagging_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,sum_rn,avg_rhm,frequency,Label
0,경기,1,6,5928150.0,10.649039,0.009216,91.567357,25.065517,9.245283,1024.875000,37.7,-3.962264,0.000000,0.037736,73.827586,5,3.799934
1,대구,1,6,1256489.0,12.375118,0.009544,62.871377,6.000000,9.333333,1022.900000,40.0,0.200000,0.000000,0.166667,54.000000,0,0.853498
2,전남,1,6,956701.0,23.026421,0.010387,60.954167,16.306250,6.673973,1024.681481,44.3,2.398630,0.628219,0.297297,73.562500,6,1.178216
3,대구,1,1,1256489.0,12.375118,0.006578,59.842754,21.300000,6.766667,1020.750000,40.0,-0.566667,0.000000,0.500000,56.000000,1,1.244685
4,강원,1,2,762617.0,18.053361,0.012346,73.483333,16.859664,8.512676,1024.880000,42.4,-8.506944,0.000000,0.000000,62.588235,2,0.972351

In [313]:
# bagging_male = ensemble_model(tuned_top5[0], method='Bagging', choose_better = True)
bagging_female = ensemble_model(tuned_top5[0], method='Bagging', choose_better = True)

In [314]:
# predict_model(bagging_male)
predict_model(bagging_female)

,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,...,mm_9,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,frequency,Label
0,1342778.0,19.652466,0.005236,37.764187,40.299999,14.460714,1025.527954,43.500000,4.544643,0.000175,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2,1.726587
1,1777955.0,16.048269,0.008195,51.529297,22.314285,11.400000,1031.750000,43.200001,10.050000,9.578571,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2,1.567014
2,758997.0,12.481868,0.005008,56.270832,35.599998,13.800000,1029.699951,39.900002,0.466667,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,1.056101
3,1643272.0,15.142898,0.006615,39.336517,29.625000,15.510257,1026.699951,40.599998,-0.141026,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3,1.844991
4,939536.0,19.553162,0.006350,61.500000,38.208332,12.543333,1030.219971,42.799999,0.250000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,1.216485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1648769.0,15.472878,0.004684,45.098373,34.444614,4.948718,1021.285706,40.900002,1.558974,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,1.748399
6702,765109.0,19.142370,0.012651,113.920456,27.151922,9.938666,972.428589,43.500000,-4.272000,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1.185360
6703,955743.0,23.193159,0.006704,43.572918,24.610483,5.841096,1015.053833,44.400002,5.830137,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3,1.509325
6704,1256076.0,12.991810,0.011172,81.419273,20.200001,15.600000,1024.750000,40.500000,0.733333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1.237714
6705,939576.0,19.100424,0.004843,96.145836,34.645454,14.456667,1006.973328,42.400002,17.103333,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1.486521

In [315]:
# final_model = finalize_model(bagging_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(bagging_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,sum_rn,avg_rhm,frequency,Label
0,경기,1,6,5928150.0,10.649039,0.009216,91.567357,25.065517,9.245283,1024.875000,37.7,-3.962264,0.000000,0.037736,73.827586,5,3.252087
1,대구,1,6,1256489.0,12.375118,0.009544,62.871377,6.000000,9.333333,1022.900000,40.0,0.200000,0.000000,0.166667,54.000000,0,1.193928
2,전남,1,6,956701.0,23.026421,0.010387,60.954167,16.306250,6.673973,1024.681481,44.3,2.398630,0.628219,0.297297,73.562500,6,1.392895
3,대구,1,1,1256489.0,12.375118,0.006578,59.842754,21.300000,6.766667,1020.750000,40.0,-0.566667,0.000000,0.500000,56.000000,1,1.294049
4,강원,1,2,762617.0,18.053361,0.012346,73.483333,16.859664,8.512676,1024.880000,42.4,-8.506944,0.000000,0.000000,62.588235,2,1.192848

In [316]:
# boosting_male = ensemble_model(best_model_5[0], method='Boosting', choose_better = True)
boosting_female = ensemble_model(best_model_5[0], method='Boosting', choose_better = True)

In [317]:
# predict_model(boosting_male)
predict_model(boosting_female)

,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,...,mm_9,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,frequency,Label
0,1342778.0,19.652466,0.005236,37.764187,40.299999,14.460714,1025.527954,43.500000,4.544643,0.000175,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2,1.873672
1,1777955.0,16.048269,0.008195,51.529297,22.314285,11.400000,1031.750000,43.200001,10.050000,9.578571,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2,1.707923
2,758997.0,12.481868,0.005008,56.270832,35.599998,13.800000,1029.699951,39.900002,0.466667,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0.813718
3,1643272.0,15.142898,0.006615,39.336517,29.625000,15.510257,1026.699951,40.599998,-0.141026,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2.502080
4,939536.0,19.553162,0.006350,61.500000,38.208332,12.543333,1030.219971,42.799999,0.250000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,1.114793
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1648769.0,15.472878,0.004684,45.098373,34.444614,4.948718,1021.285706,40.900002,1.558974,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,2.042289
6702,765109.0,19.142370,0.012651,113.920456,27.151922,9.938666,972.428589,43.500000,-4.272000,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1.008522
6703,955743.0,23.193159,0.006704,43.572918,24.610483,5.841096,1015.053833,44.400002,5.830137,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3,1.525297
6704,1256076.0,12.991810,0.011172,81.419273,20.200001,15.600000,1024.750000,40.500000,0.733333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1.025757
6705,939576.0,19.100424,0.004843,96.145836,34.645454,14.456667,1006.973328,42.400002,17.103333,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1.574909

In [318]:
# final_model = finalize_model(boosting_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(boosting_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,sum_rn,avg_rhm,frequency,Label
0,경기,1,6,5928150.0,10.649039,0.009216,91.567357,25.065517,9.245283,1024.875000,37.7,-3.962264,0.000000,0.037736,73.827586,5,3.755646
1,대구,1,6,1256489.0,12.375118,0.009544,62.871377,6.000000,9.333333,1022.900000,40.0,0.200000,0.000000,0.166667,54.000000,0,0.930491
2,전남,1,6,956701.0,23.026421,0.010387,60.954167,16.306250,6.673973,1024.681481,44.3,2.398630,0.628219,0.297297,73.562500,6,1.216265
3,대구,1,1,1256489.0,12.375118,0.006578,59.842754,21.300000,6.766667,1020.750000,40.0,-0.566667,0.000000,0.500000,56.000000,1,1.250725
4,강원,1,2,762617.0,18.053361,0.012346,73.483333,16.859664,8.512676,1024.880000,42.4,-8.506944,0.000000,0.000000,62.588235,2,1.014389

In [319]:
# boosting_male = ensemble_model(tuned_top5[0], method='Boosting', choose_better = True)
boosting_female = ensemble_model(tuned_top5[0], method='Boosting', choose_better = True)

In [320]:
# predict_model(boosting_male)
predict_model(boosting_female)

,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,...,mm_9,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,frequency,Label
0,1342778.0,19.652466,0.005236,37.764187,40.299999,14.460714,1025.527954,43.500000,4.544643,0.000175,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2,1.918323
1,1777955.0,16.048269,0.008195,51.529297,22.314285,11.400000,1031.750000,43.200001,10.050000,9.578571,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2,1.773408
2,758997.0,12.481868,0.005008,56.270832,35.599998,13.800000,1029.699951,39.900002,0.466667,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,1.151070
3,1643272.0,15.142898,0.006615,39.336517,29.625000,15.510257,1026.699951,40.599998,-0.141026,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2.245965
4,939536.0,19.553162,0.006350,61.500000,38.208332,12.543333,1030.219971,42.799999,0.250000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,1.281126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1648769.0,15.472878,0.004684,45.098373,34.444614,4.948718,1021.285706,40.900002,1.558974,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,2.040089
6702,765109.0,19.142370,0.012651,113.920456,27.151922,9.938666,972.428589,43.500000,-4.272000,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1.381727
6703,955743.0,23.193159,0.006704,43.572918,24.610483,5.841096,1015.053833,44.400002,5.830137,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3,1.686542
6704,1256076.0,12.991810,0.011172,81.419273,20.200001,15.600000,1024.750000,40.500000,0.733333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1.362980
6705,939576.0,19.100424,0.004843,96.145836,34.645454,14.456667,1006.973328,42.400002,17.103333,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1.638575

In [321]:
# final_model = finalize_model(boosting_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(boosting_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,sum_rn,avg_rhm,frequency,Label
0,경기,1,6,5928150.0,10.649039,0.009216,91.567357,25.065517,9.245283,1024.875000,37.7,-3.962264,0.000000,0.037736,73.827586,5,3.560394
1,대구,1,6,1256489.0,12.375118,0.009544,62.871377,6.000000,9.333333,1022.900000,40.0,0.200000,0.000000,0.166667,54.000000,0,1.331806
2,전남,1,6,956701.0,23.026421,0.010387,60.954167,16.306250,6.673973,1024.681481,44.3,2.398630,0.628219,0.297297,73.562500,6,1.596829
3,대구,1,1,1256489.0,12.375118,0.006578,59.842754,21.300000,6.766667,1020.750000,40.0,-0.566667,0.000000,0.500000,56.000000,1,1.408364
4,강원,1,2,762617.0,18.053361,0.012346,73.483333,16.859664,8.512676,1024.880000,42.4,-8.506944,0.000000,0.000000,62.588235,2,1.324597

In [322]:
# stack_male = stack_models(best_model_5)
stack_female = stack_models(best_model_5)

In [323]:
# predict_model(stack_male)
predict_model(stack_female)

,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,...,mm_9,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,frequency,Label
0,1342778.0,19.652466,0.005236,37.764187,40.299999,14.460714,1025.527954,43.500000,4.544643,0.000175,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2,1.875695
1,1777955.0,16.048269,0.008195,51.529297,22.314285,11.400000,1031.750000,43.200001,10.050000,9.578571,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2,1.733814
2,758997.0,12.481868,0.005008,56.270832,35.599998,13.800000,1029.699951,39.900002,0.466667,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0.747172
3,1643272.0,15.142898,0.006615,39.336517,29.625000,15.510257,1026.699951,40.599998,-0.141026,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2.533090
4,939536.0,19.553162,0.006350,61.500000,38.208332,12.543333,1030.219971,42.799999,0.250000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,1.108929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1648769.0,15.472878,0.004684,45.098373,34.444614,4.948718,1021.285706,40.900002,1.558974,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,2.035601
6702,765109.0,19.142370,0.012651,113.920456,27.151922,9.938666,972.428589,43.500000,-4.272000,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1.007289
6703,955743.0,23.193159,0.006704,43.572918,24.610483,5.841096,1015.053833,44.400002,5.830137,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3,1.486502
6704,1256076.0,12.991810,0.011172,81.419273,20.200001,15.600000,1024.750000,40.500000,0.733333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0.974792
6705,939576.0,19.100424,0.004843,96.145836,34.645454,14.456667,1006.973328,42.400002,17.103333,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1.707743

In [324]:
# final_model = finalize_model(stack_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(stack_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,sum_rn,avg_rhm,frequency,Label
0,경기,1,6,5928150.0,10.649039,0.009216,91.567357,25.065517,9.245283,1024.875000,37.7,-3.962264,0.000000,0.037736,73.827586,5,3.934123
1,대구,1,6,1256489.0,12.375118,0.009544,62.871377,6.000000,9.333333,1022.900000,40.0,0.200000,0.000000,0.166667,54.000000,0,0.935854
2,전남,1,6,956701.0,23.026421,0.010387,60.954167,16.306250,6.673973,1024.681481,44.3,2.398630,0.628219,0.297297,73.562500,6,1.300064
3,대구,1,1,1256489.0,12.375118,0.006578,59.842754,21.300000,6.766667,1020.750000,40.0,-0.566667,0.000000,0.500000,56.000000,1,1.336507
4,강원,1,2,762617.0,18.053361,0.012346,73.483333,16.859664,8.512676,1024.880000,42.4,-8.506944,0.000000,0.000000,62.588235,2,1.143087

In [325]:
# stack_male = stack_models(tuned_top5)
stack_female = stack_models(tuned_top5)

In [326]:
# predict_model(stack_male)
predict_model(stack_female)

,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,...,mm_9,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,frequency,Label
0,1342778.0,19.652466,0.005236,37.764187,40.299999,14.460714,1025.527954,43.500000,4.544643,0.000175,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2,1.835757
1,1777955.0,16.048269,0.008195,51.529297,22.314285,11.400000,1031.750000,43.200001,10.050000,9.578571,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2,1.727107
2,758997.0,12.481868,0.005008,56.270832,35.599998,13.800000,1029.699951,39.900002,0.466667,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0.789547
3,1643272.0,15.142898,0.006615,39.336517,29.625000,15.510257,1026.699951,40.599998,-0.141026,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2.447793
4,939536.0,19.553162,0.006350,61.500000,38.208332,12.543333,1030.219971,42.799999,0.250000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,1.026974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1648769.0,15.472878,0.004684,45.098373,34.444614,4.948718,1021.285706,40.900002,1.558974,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,2.017825
6702,765109.0,19.142370,0.012651,113.920456,27.151922,9.938666,972.428589,43.500000,-4.272000,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1.083617
6703,955743.0,23.193159,0.006704,43.572918,24.610483,5.841096,1015.053833,44.400002,5.830137,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3,1.520087
6704,1256076.0,12.991810,0.011172,81.419273,20.200001,15.600000,1024.750000,40.500000,0.733333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1.006397
6705,939576.0,19.100424,0.004843,96.145836,34.645454,14.456667,1006.973328,42.400002,17.103333,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1.738765

In [327]:
# final_model = finalize_model(stack_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(stack_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,sum_rn,avg_rhm,frequency,Label
0,경기,1,6,5928150.0,10.649039,0.009216,91.567357,25.065517,9.245283,1024.875000,37.7,-3.962264,0.000000,0.037736,73.827586,5,3.903222
1,대구,1,6,1256489.0,12.375118,0.009544,62.871377,6.000000,9.333333,1022.900000,40.0,0.200000,0.000000,0.166667,54.000000,0,0.917552
2,전남,1,6,956701.0,23.026421,0.010387,60.954167,16.306250,6.673973,1024.681481,44.3,2.398630,0.628219,0.297297,73.562500,6,1.338399
3,대구,1,1,1256489.0,12.375118,0.006578,59.842754,21.300000,6.766667,1020.750000,40.0,-0.566667,0.000000,0.500000,56.000000,1,1.260957
4,강원,1,2,762617.0,18.053361,0.012346,73.483333,16.859664,8.512676,1024.880000,42.4,-8.506944,0.000000,0.000000,62.588235,2,1.186216