# 2012-2015년 데이터로 모델 만들기(남자)

In [2]:
import pandas as pd
from itertools import *

In [4]:
dataset_male.columns

Index(['area', 'tma', 'yyyy', 'mm', 'dd', 'weekday', 'sum_gsr', 'sum_rn',
       'avg_ps', 'max_ps', 'min_ps', 'so2', 'o3', 'pm10', 'sex', 'elderly_pop',
       'total_pop', 'elderly_ratio', 'avg_age', 'min_max_ps', 'D/R',
       'heat_wave', 'cold_wave', 'min_hum', 'max_hum', 'avg_hum', 'diff_hum',
       'min_temp', 'max_temp', 'avg_temp', 'diff_temp', 'pm10_3b', 'pm10_7b',
       'pm10_31b', 'frequency'],
      dtype='object')

In [82]:
dataset_m = pd.read_csv('Z:/공모전/날씨빅데이터콘테스트(공유)/data/test/hospital_male_0802_test2.csv', encoding='cp949')
dataset_male = dataset_m[dataset_m['yyyy'].astype(str).str.contains('2012|2013|2014|2015')].reset_index(drop=True)#2016년 전만 추출

m_cols = ['area','mm','weekday','heat_wave','cold_wave','elderly_ratio','sex', 
        'sum_gsr', 'total_pop',
        'pm10_7b','diff_hum','diff_temp','avg_ps', 'o3','min_max_ps', 'avg_hum','frequency']  # 17

m_cols_1 = ['area', 'mm', 'weekday', 'heat_wave', 'cold_wave', 'total_pop', 'elderly_ratio', 
            'pm10_7b', 'diff_hum', 'diff_temp', 'avg_ps', 
            'o3', 'avg_age', 'min_max_ps', 'avg_hum', 'frequency']  # 16

male_df = dataset_male[m_cols]
male_df

,area,mm,weekday,heat_wave,cold_wave,elderly_ratio,sex,sum_gsr,total_pop,pm10_7b,diff_hum,diff_temp,avg_ps,o3,min_max_ps,avg_hum,frequency
0,강원,1,6,0,0,12.460044,1,0.000000,772718,30.158333,65.0,12.3,1023.886667,0.027750,6.340000,58.333333,3.0
1,경기,1,6,0,0,7.432174,1,0.000000,6020446,28.537404,27.0,7.9,1024.875000,0.023165,5.500000,50.733333,4.0
2,경남,1,6,0,0,9.179443,1,0.000000,1665308,26.719907,47.0,9.9,1022.950000,0.027277,5.200000,44.916667,2.0
3,경북,1,6,0,0,12.336406,1,0.000702,1354649,25.336806,70.0,12.0,1023.268000,0.027274,5.688000,52.377778,6.0
4,광주,1,6,0,0,7.679253,1,0.000000,726529,18.958333,15.0,3.9,1025.250000,0.027300,4.100000,75.833333,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24832,전남,12,3,0,0,16.198981,1,0.000000,953881,46.708333,65.0,12.3,1031.053846,0.035985,6.892308,66.764033,0.0
24833,전북,12,3,0,0,14.539347,1,1.305806,930255,72.548882,50.0,10.0,1031.300000,0.028738,7.014286,73.750000,1.0
24834,제주,12,3,0,0,11.063466,1,0.000000,313428,56.156250,33.0,4.9,1030.792308,0.044719,7.523077,59.915541,0.0
24835,충남,12,3,0,0,13.477024,1,1.757273,1054439,79.543252,55.0,9.0,1031.513333,0.024484,6.800000,74.725225,0.0
24836,충북,12,3,0,0,12.178056,1,0.000000,798896,74.573958,55.0,10.1,1030.850000,0.018966,7.050000,70.658784,1.0

o3 지연효과(7일 전 데이터) 해보기

In [83]:
dataset_m.tma = pd.to_datetime(dataset_m.tma)
dataset_m_ = dataset_m.sort_values('tma').reset_index(drop=True)

area_lst = dataset_m_.area.unique()

for area in area_lst:
    
        dataset_m_.loc[dataset_m_.area == area,'o3_7b'] = dataset_m_.loc[dataset_m_.area == area, 'o3'].shift(7)
        
dataset_m_ = dataset_m_.sort_values(by=['tma','area']).reset_index(drop=True)

In [84]:
dataset_male = dataset_m_[dataset_m_['yyyy'].astype(str).str.contains('2012|2013|2014|2015')].reset_index(drop=True)#2016년 전만 추출

m_cols = ['area','mm','weekday','heat_wave','cold_wave','elderly_ratio','sex', 
        'sum_gsr', 'total_pop',
        'pm10_7b','diff_hum','diff_temp','avg_ps', 'o3_7b','min_max_ps', 'avg_hum','frequency']  # 17

m_cols_1 = ['area', 'mm', 'weekday', 'heat_wave', 'cold_wave', 'total_pop', 'elderly_ratio', 
            'pm10_7b', 'diff_hum', 'diff_temp', 'avg_ps', 
            'o3_7b', 'avg_age', 'min_max_ps', 'avg_hum', 'frequency']  # 16

male_df = dataset_male[m_cols_1]
male_df

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3_7b,avg_age,min_max_ps,avg_hum,frequency
0,강원,1,6,0,0,772718,12.460044,30.158333,65.0,12.3,1023.886667,0.027650,39.4,6.340000,58.333333,3.0
1,경기,1,6,0,0,6020446,7.432174,28.537404,27.0,7.9,1024.875000,0.026354,36.1,5.500000,50.733333,4.0
2,경남,1,6,0,0,1665308,9.179443,26.719907,47.0,9.9,1022.950000,0.030351,37.4,5.200000,44.916667,2.0
3,경북,1,6,0,0,1354649,12.336406,25.336806,70.0,12.0,1023.268000,0.030078,39.5,5.688000,52.377778,6.0
4,광주,1,6,0,0,726529,7.679253,18.958333,15.0,3.9,1025.250000,0.025325,35.3,4.100000,75.833333,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24832,전남,12,3,0,0,953881,16.198981,46.708333,65.0,12.3,1031.053846,0.038704,42.1,6.892308,66.764033,0.0
24833,전북,12,3,0,0,930255,14.539347,72.548882,50.0,10.0,1031.300000,0.031429,40.9,7.014286,73.750000,1.0
24834,제주,12,3,0,0,313428,11.063466,56.156250,33.0,4.9,1030.792308,0.039688,38.7,7.523077,59.915541,0.0
24835,충남,12,3,0,0,1054439,13.477024,79.543252,55.0,9.0,1031.513333,0.029469,40.2,6.800000,74.725225,0.0
24836,충북,12,3,0,0,798896,12.178056,74.573958,55.0,10.1,1030.850000,0.019359,40.0,7.050000,70.658784,1.0

In [64]:
# male_data = male_df.sample(frac=0.9, random_state=786) 
# male_data_unseen = male_df.drop(male_data.index) 

# male_data.reset_index(drop=True, inplace=True) 
# male_data_unseen.reset_index(drop=True, inplace=True) 

# print('Data for Modeling: ' + str(male_data.shape)) 
# print('Unseen Data For Predictions: ' + str(male_data_unseen.shape))

Data for Modeling: (22353, 31)
Unseen Data For Predictions: (2484, 31)

## 모델 환경 설정 (Settinf up Environment in PyCaret)

- pycaret을 사용하기 전에 pycaret에 맞게 데이터를 설정
- set_up() 함수를 사용
- 기본적으로 data와 target을 입력

In [85]:
# 자동으로 데이터 유형 지정 
from pycaret.regression import *
# s = setup(male_data, target = 'frequency', session_id=123, transformation = True)

# s1 = setup(data = male_df, train_size= 0.9, target = 'frequency', session_id=123, 
#            data_split_stratify = True, fold_strategy = 'timeseries', fold_shuffle = True,
#            normalize = True, verbose = True)

s1 = setup(data = male_df, train_size= 0.9, target = 'frequency', session_id=123, 
           data_split_stratify = True, fold_strategy = 'timeseries', fold_shuffle = True,
           transformation = True, verbose = True)

# s1 = setup(data = male_df, train_size= 0.9, target = 'frequency', session_id=123, 
#            data_split_stratify = True, fold_strategy = 'timeseries', fold_shuffle = True,
#            normalize = True, verbose = True, remove_multicollinearity = True)

#### set_up(): pycaret을 사용하기 위한 data setting

- session_id: random_state와 같은 개념으로 같은 결과가 나올 수 있게 seed를 고정
- data: train 데이터 입력
- target = target 변수 이름을 입력

## 모델 생성 - 비교

- 여러 모델을 적합하여 성능을 비교하는 단계
- compare_models(): 다양한 모델 적합 후 성능 비교
    - fold: cross_validation의 fold를 지정 (default = 10)
    - sort: 정렬기준 지표 설정
    - n_select: 상위 n개의 모델 결과만 출력

In [86]:
# et_male = create_model('et')
male_best_model_5 = compare_models(sort='RMSE', n_select = 5)
male_tuned_top5 = [tune_model(i, optimize = 'RMSE', n_iter=15) for i in male_best_model_5]
model_male = blend_models(estimator_list=male_tuned_top5, optimize = 'RMSE')

# final_model = finalize_model(model_male)
# prediction = predict_model(final_model, data=male_data_unseen)

In [87]:
predict_model(model_male)

,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3_7b,avg_age,min_max_ps,avg_hum,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,0.0,0.548212,-3.206777,-0.805951,-0.141132,0.093008,-0.627262,0.348828,-0.315736,0.996445,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.101937
1,0.0,-0.161587,0.269148,-0.933118,-1.479018,-3.747755,-1.522715,-0.603474,4.732311,1.597207,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.034107
2,0.0,-0.003511,0.683946,-1.251233,-1.352293,-4.260912,1.422688,-0.410696,4.701473,1.356790,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.529216
3,0.0,1.218846,0.504011,-0.933118,-0.309283,0.044350,1.913977,1.394634,-0.308093,1.545405,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,5.0,2.000902
4,0.0,-0.482466,-0.249981,1.224076,1.326970,0.337490,0.218616,-0.539076,-0.276972,-1.351135,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4.0,1.921468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2479,0.0,-0.013520,-0.409616,-0.043766,-0.117587,0.322499,-0.142832,0.348828,2.040469,-0.597856,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4.0,3.661090
2480,0.0,-1.452273,0.040410,-1.952302,-1.321242,0.334321,-1.516178,-0.732650,-0.325223,1.817032,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.228774
2481,0.0,2.129598,0.712314,1.224076,-0.164792,-0.489399,-2.057173,2.171883,-0.242042,-0.786766,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.215347
2482,0.0,0.347834,0.421244,0.463696,1.468368,0.734994,-2.129127,0.223506,3.500093,-0.196385,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.218138
2483,0.0,-1.220661,0.502097,-0.551742,0.266256,0.706612,-0.696428,-1.386624,-0.234589,1.126266,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.735684

- 1.2384 / 0.4668 (avg_age x)
- 1.2383 / 0.4669 (avg_age, max_hum x)
- 1.2384 / 0.4669 (max_hum x)
- 1.2384 / 0.4668 (sum_gsr x)
- 1.2384 / 0.4668 (normalize x)
- 1.2358 / 0.4691 (total_pop x)
- 1.2388 / 0.4665 (sum_rn o)
- 1.2389 / 0.4664 (o3_7b)
- 1.2360 / 0.4689 (o3_7b + col_1)
- 1.2387 / 0.4665 (normalize x)
- 1.2422 / 0.4636 (outlier)
- 1.2360 / 0.4689 (transformation)

# 2016년 예측(남자)

In [88]:
testset_male = dataset_m_[dataset_m_['yyyy'].astype(str).str.contains('2016')].reset_index(drop=True)#2016년만 추출

test_male2 = testset_male[m_cols_1]
test_male2

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3_7b,avg_age,min_max_ps,avg_hum,frequency
0,강원,1,4,0,0,781185,14.022671,61.954167,73.0,18.9,1030.230000,0.028737,41.4,8.010000,58.196911,NaN
1,경기,1,4,0,0,6306634,8.966558,42.487621,45.0,12.1,1031.633333,0.025694,38.0,7.016667,70.844595,NaN
2,경남,1,4,0,0,1695187,10.962802,29.128224,79.0,17.7,1031.175000,0.034380,39.3,5.616667,52.099421,NaN
3,경북,1,4,0,0,1356568,14.384461,38.389385,66.0,20.0,1030.309524,0.033824,41.5,6.233333,57.314554,NaN
4,광주,1,4,0,0,729995,9.572120,20.475000,40.0,10.0,1032.200000,0.029937,37.4,5.850000,62.837838,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6217,전남,12,5,0,0,951889,16.677050,33.635000,49.0,13.7,1030.607692,0.029847,42.6,2.573333,65.555094,NaN
6218,전북,12,5,0,0,927505,15.011563,52.149758,42.0,14.5,1030.586667,0.029615,41.4,3.466667,72.161486,NaN
6219,제주,12,5,0,0,322545,11.278426,28.460474,31.0,8.0,1029.900000,0.041375,39.2,3.046667,60.569257,NaN
6220,충남,12,5,0,0,1064765,13.768860,71.473958,41.0,11.7,1030.100000,0.022047,40.7,2.520000,75.118243,NaN
6221,충북,12,5,0,0,803240,12.472486,60.829167,35.0,12.0,1031.400000,0.015553,40.5,3.566667,72.665541,NaN

In [89]:
test_male3 = test_male2.drop(columns=['frequency'])

In [91]:
male_final_model = finalize_model(model_male)
prediction_male = predict_model(male_final_model, data = test_male3)

AttributeError: 'str' object has no attribute 'decode'

In [10]:
# prediction_male['Label'] = prediction_male['Label'].round(0)
# prediction_male[['Label']]

In [ ]:
evaluate_model(male_final_model)

# 2012-2015년 데이터로 모델 만들기(여자)

In [31]:
dataset_f = pd.read_csv('Z:/공모전/날씨빅데이터콘테스트(공유)/data/test/hospital_female_0802_test2.csv', encoding='cp949')
dataset_female = dataset_f[dataset_f['yyyy'].astype(str).str.contains('2012|2013|2014|2015')].reset_index(drop=True)#2016년 전만 추출
# female_df = dataset_female[['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
#           'pm10_7b','diff_hum','diff_temp','avg_ps',
#           'avg_age','min_max_ps', 'sum_rn','frequency']]

f_cols = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio','sex', 
        'sum_gsr','max_hum', 
        'pm10_7b','diff_hum','diff_temp','avg_ps',
        'o3','avg_age','min_max_ps', 'avg_hum','frequency']

f_cols_1 = ['area', 'mm', 'weekday', 'heat_wave', 'cold_wave', 'total_pop', 'elderly_ratio',
            'pm10_7b', 'diff_hum', 'diff_temp', 'avg_ps', 
            'avg_age', 'min_max_ps',  'sum_rn', 'frequency']

# cols = ['area', 'mm', 'weekday', 'sum_gsr', 'sum_rn',
#        'avg_ps', 'max_ps', 'min_ps', 'so2', 'o3', 'pm10', 'sex', 'elderly_pop',
#        'total_pop', 'elderly_ratio', 'avg_age', 'min_max_ps',
#        'heat_wave', 'cold_wave', 'min_hum', 'max_hum', 'avg_hum', 'diff_hum',
#        'min_temp', 'max_temp', 'avg_temp', 'diff_temp', 'pm10_3b', 'pm10_7b',
#        'pm10_31b', 'frequency']

female_df = dataset_female[f_cols]
female_df

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,sex,sum_gsr,max_hum,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency
0,강원,1,6,0,0,762617,18.053361,2,0.000000,95.0,30.158333,65.0,12.3,1023.886667,0.027750,42.4,6.340000,58.333333,3.0
1,경기,1,6,0,0,5928150,10.649039,2,0.000000,65.0,28.537404,27.0,7.9,1024.875000,0.023165,37.7,5.500000,50.733333,5.0
2,경남,1,6,0,0,1644251,15.076105,2,0.000000,78.0,26.719907,47.0,9.9,1022.950000,0.027277,40.5,5.200000,44.916667,1.0
3,경북,1,6,0,0,1342455,19.248690,2,0.000702,90.0,25.336806,70.0,12.0,1023.268000,0.027274,43.2,5.688000,52.377778,1.0
4,광주,1,6,0,0,738784,11.037868,2,0.000000,85.0,18.958333,15.0,3.9,1025.250000,0.027300,37.6,4.100000,75.833333,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24832,전남,12,3,0,0,955115,24.847060,2,0.000000,95.0,46.708333,65.0,12.3,1031.053846,0.035985,45.9,6.892308,66.764033,3.0
24833,전북,12,3,0,0,939456,21.104873,2,1.305806,95.0,72.548882,50.0,10.0,1031.300000,0.028738,44.2,7.014286,73.750000,0.0
24834,제주,12,3,0,0,310967,16.470236,2,0.000000,78.0,56.156250,33.0,4.9,1030.792308,0.044719,41.5,7.523077,59.915541,0.0
24835,충남,12,3,0,0,1023210,19.459055,2,1.757273,95.0,79.543252,55.0,9.0,1031.513333,0.024484,43.1,6.800000,74.725225,0.0
24836,충북,12,3,0,0,785056,17.517604,2,0.000000,95.0,74.573958,55.0,10.1,1030.850000,0.018966,42.7,7.050000,70.658784,0.0

o3_7b 생성

In [32]:
dataset_f.tma = pd.to_datetime(dataset_f.tma)
dataset_f_ = dataset_f.sort_values('tma').reset_index(drop=True)

area_lst = dataset_f_.area.unique()

for area in area_lst:
    
        dataset_f_.loc[dataset_f_.area == area,'o3_7b'] = dataset_f_.loc[dataset_f_.area == area, 'o3'].shift(7)
        
dataset_f_ = dataset_f_.sort_values(by=['tma','area']).reset_index(drop=True)

In [51]:
dataset_female = dataset_f_[dataset_f_['yyyy'].astype(str).str.contains('2012|2013|2014|2015')].reset_index(drop=True)#2016년 전만 추출

f_cols = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
        'sum_gsr','max_hum', 
        'pm10_7b','diff_hum','diff_temp','avg_ps',
        'o3_7b','avg_age','min_max_ps', 'avg_hum','frequency']

f_cols_1 = ['area', 'mm', 'weekday', 'heat_wave', 'cold_wave', 'total_pop', 'elderly_ratio',
            'pm10_7b', 'diff_hum', 'diff_temp', 'avg_ps', 
            'avg_age', 'min_max_ps',  'sum_rn', 'frequency']

female_df = dataset_female[f_cols]
female_df

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,sum_gsr,max_hum,pm10_7b,diff_hum,diff_temp,avg_ps,o3_7b,avg_age,min_max_ps,avg_hum,frequency
0,강원,1,6,0,0,762617,18.053361,0.000000,95.0,30.158333,65.0,12.3,1023.886667,0.027650,42.4,6.340000,58.333333,3.0
1,경기,1,6,0,0,5928150,10.649039,0.000000,65.0,28.537404,27.0,7.9,1024.875000,0.026354,37.7,5.500000,50.733333,5.0
2,경남,1,6,0,0,1644251,15.076105,0.000000,78.0,26.719907,47.0,9.9,1022.950000,0.030351,40.5,5.200000,44.916667,1.0
3,경북,1,6,0,0,1342455,19.248690,0.000702,90.0,25.336806,70.0,12.0,1023.268000,0.030078,43.2,5.688000,52.377778,1.0
4,광주,1,6,0,0,738784,11.037868,0.000000,85.0,18.958333,15.0,3.9,1025.250000,0.025325,37.6,4.100000,75.833333,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24832,전남,12,3,0,0,955115,24.847060,0.000000,95.0,46.708333,65.0,12.3,1031.053846,0.038704,45.9,6.892308,66.764033,3.0
24833,전북,12,3,0,0,939456,21.104873,1.305806,95.0,72.548882,50.0,10.0,1031.300000,0.031429,44.2,7.014286,73.750000,0.0
24834,제주,12,3,0,0,310967,16.470236,0.000000,78.0,56.156250,33.0,4.9,1030.792308,0.039688,41.5,7.523077,59.915541,0.0
24835,충남,12,3,0,0,1023210,19.459055,1.757273,95.0,79.543252,55.0,9.0,1031.513333,0.029469,43.1,6.800000,74.725225,0.0
24836,충북,12,3,0,0,785056,17.517604,0.000000,95.0,74.573958,55.0,10.1,1030.850000,0.019359,42.7,7.050000,70.658784,0.0

In [39]:
# female_data = female_df.sample(frac=0.9, random_state=786) 
# female_data_unseen = female_df.drop(female_data.index) 

# female_data.reset_index(drop=True, inplace=True) 
# female_data_unseen.reset_index(drop=True, inplace=True) 

# print('Data for Modeling: ' + str(female_data.shape)) 
# print('Unseen Data For Predictions: ' + str(female_data_unseen.shape))

Data for Modeling: (22353, 15)
Unseen Data For Predictions: (2484, 15)

In [52]:
# 자동으로 데이터 유형 지정 
from pycaret.regression import *
# s = setup(female_data, target = 'frequency', session_id=123, transformation = True)

s2 = setup(data = female_df, train_size= 0.9, target = 'frequency', session_id=123, 
          data_split_stratify = True, fold_strategy = 'timeseries', fold_shuffle = True,
          normalize = True, verbose = True)

# s2 = setup(data = female_df, train_size= 0.9, target = 'frequency', session_id=123, 
#           data_split_stratify = True, fold_shuffle = True,
#           normalize = True, verbose = True)

In [53]:
# et_female = create_model('et')
female_best_model_5 = compare_models(sort='RMSE', n_select = 5)
# female_tuned_top5 = [tune_model(i, optimize = 'RMSE', n_iter=10) for i in female_best_model_5]
# model_female = stack_models(tuned_top5)
model_female = blend_models(female_best_model_5, optimize = 'RMSE')

In [54]:
predict_model(model_female)

,total_pop,elderly_ratio,sum_gsr,max_hum,pm10_7b,diff_hum,diff_temp,avg_ps,o3_7b,avg_age,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,2.296820,-0.470720,-0.249035,-0.853590,-1.352574,-0.362260,-0.440325,0.150471,-0.318984,0.100486,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,3.618155
1,2.327517,-0.890206,-0.249035,-1.833039,-0.271332,-1.315606,-0.892057,0.356860,-1.959933,-0.515953,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,3.083172
2,-0.606163,-1.722123,-0.249035,0.125860,-0.423088,-2.014726,-1.569656,0.244463,0.413380,-1.653991,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.494283
3,-0.600223,-1.525192,-0.249035,-0.363865,-0.023523,-0.997824,-0.259632,0.164274,0.785181,-1.227227,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.531620
4,-0.461065,0.364575,-0.249035,0.615584,1.695112,0.273304,0.259860,-4.708443,1.748457,0.384995,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.008040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2479,-0.313613,0.817277,0.334092,0.615584,-0.306386,0.908869,0.372793,0.279168,-0.097768,0.574669,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.909335
2480,-0.922259,0.642916,-0.249035,0.419694,-0.925822,0.781756,0.914872,0.315286,0.419144,0.195322,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.143402
2481,2.868496,-1.166740,-0.249035,0.125860,0.563317,-0.616485,0.463139,0.298361,-1.467301,-1.464319,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,6.0,4.446503
2482,2.335220,-0.944682,1.686391,-0.363865,-0.681227,-1.633388,-0.892057,0.245778,0.959856,-0.610788,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,3.554467
2483,-0.603410,-1.648056,-0.249035,-2.322764,1.455655,-0.362260,1.050391,0.322024,0.370720,-1.511736,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.575813

- 1.2099	0.4578
- 1.2115	0.4563	(tuning)
- 1.2099	0.4578 optimize setting
- 1.2066	0.4607	o3_7b (f_cols)
- 1.2096	0.4580	f_cols_1

# 2016년 예측(여자)

In [55]:
testset_female = dataset_f_[dataset_f_['yyyy'].astype(str).str.contains('2016')].reset_index(drop=True)#2016년만 추출

test_female2 = testset_female[f_cols]
test_female2

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,sum_gsr,max_hum,pm10_7b,diff_hum,diff_temp,avg_ps,o3_7b,avg_age,min_max_ps,avg_hum,frequency
0,강원,1,4,0,0,768008,19.916980,0.000000,95.0,61.954167,73.0,18.9,1030.230000,0.028737,44.5,8.010000,58.196911,NaN
1,경기,1,4,0,0,6229840,12.194759,0.000000,90.0,42.487621,45.0,12.1,1031.633333,0.025694,39.7,7.016667,70.844595,NaN
2,경남,1,4,0,0,1669577,16.753405,1.634500,94.0,29.128224,79.0,17.7,1031.175000,0.034380,42.4,5.616667,52.099421,NaN
3,경북,1,4,0,0,1344592,21.253882,0.001404,90.0,38.389385,66.0,20.0,1030.309524,0.033824,45.1,6.233333,57.314554,NaN
4,광주,1,4,0,0,742807,13.091826,0.000000,80.0,20.475000,40.0,10.0,1032.200000,0.029937,39.7,5.850000,62.837838,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6217,전남,12,5,0,0,952025,25.227174,0.000000,89.0,33.635000,49.0,13.7,1030.607692,0.029847,46.4,2.573333,65.555094,NaN
6218,전북,12,5,0,0,937286,21.548385,0.820968,87.0,52.149758,42.0,14.5,1030.586667,0.029615,44.7,3.466667,72.161486,NaN
6219,제주,12,5,0,0,319052,16.552474,0.000000,76.0,28.460474,31.0,8.0,1029.900000,0.041375,41.9,3.046667,60.569257,NaN
6220,충남,12,5,0,0,1031962,19.719912,1.973636,95.0,71.473958,41.0,11.7,1030.100000,0.022047,43.5,2.520000,75.118243,NaN
6221,충북,12,5,0,0,788385,17.822003,2.897407,90.0,60.829167,35.0,12.0,1031.400000,0.015553,43.2,3.566667,72.665541,NaN

In [56]:
test_female3 = test_female2.drop(columns=['frequency'])

In [57]:
female_final_model = finalize_model(model_female)
prediction_female = predict_model(female_final_model, data = test_female3)

In [19]:
# prediction_female['Label'] = prediction_female['Label'].round(0)
# prediction_female[['Label']]

# 남자 여자 예측 데이터 합치기

In [58]:
hap_male = pd.concat([testset_male[['area','tma','sex']],prediction_male['Label']], axis=1)
hap_male

     area        tma  sex     Label
0      강원 2016-01-01    1  1.180475
1      경기 2016-01-01    1  4.757469
2      경남 2016-01-01    1  2.168048
3      경북 2016-01-01    1  1.906473
4      광주 2016-01-01    1  0.672151
...   ...        ...  ...       ...
6217   전남 2016-12-31    1  1.139549
6218   전북 2016-12-31    1  0.975767
6219   제주 2016-12-31    1  0.139021
6220   충남 2016-12-31    1  0.928252
6221   충북 2016-12-31    1  0.829518

[6222 rows x 4 columns]

In [59]:
hap_female = pd.concat([testset_female[['area','tma','sex']],prediction_female['Label']], axis=1)
hap_female

     area        tma  sex     Label
0      강원 2016-01-01    2  1.085419
1      경기 2016-01-01    2  4.255124
2      경남 2016-01-01    2  2.103979
3      경북 2016-01-01    2  1.924539
4      광주 2016-01-01    2  0.775686
...   ...        ...  ...       ...
6217   전남 2016-12-31    2  1.496664
6218   전북 2016-12-31    2  1.240987
6219   제주 2016-12-31    2  0.219495
6220   충남 2016-12-31    2  1.015216
6221   충북 2016-12-31    2  0.869882

[6222 rows x 4 columns]

In [60]:
verify = pd.read_csv('Z:/공모전/날씨빅데이터콘테스트(공유)/hospital_data/2-2_검증데이터셋.csv', encoding='cp949')
verify

         yyyymmdd area  sex  frequency
0      2016-01-01   강원    1        NaN
1      2016-01-01   경기    1        NaN
2      2016-01-01   경남    1        NaN
3      2016-01-01   경북    1        NaN
4      2016-01-01   광주    1        NaN
...           ...  ...  ...        ...
12439  2016-12-31   전남    2        NaN
12440  2016-12-31   전북    2        NaN
12441  2016-12-31   제주    2        NaN
12442  2016-12-31   충남    2        NaN
12443  2016-12-31   충북    2        NaN

[12444 rows x 4 columns]

In [61]:
hap_male.sort_values(['tma', 'area']).reset_index(drop=True)
hap_female.sort_values(['tma', 'area']).reset_index(drop=True)

     area        tma  sex     Label
0      강원 2016-01-01    2  1.085419
1      경기 2016-01-01    2  4.255124
2      경남 2016-01-01    2  2.103979
3      경북 2016-01-01    2  1.924539
4      광주 2016-01-01    2  0.775686
...   ...        ...  ...       ...
6217   전남 2016-12-31    2  1.496664
6218   전북 2016-12-31    2  1.240987
6219   제주 2016-12-31    2  0.219495
6220   충남 2016-12-31    2  1.015216
6221   충북 2016-12-31    2  0.869882

[6222 rows x 4 columns]

In [62]:
hap = pd.concat([hap_male, hap_female], axis=0).reset_index(drop=True)
hap

      area        tma  sex     Label
0       강원 2016-01-01    1  1.180475
1       경기 2016-01-01    1  4.757469
2       경남 2016-01-01    1  2.168048
3       경북 2016-01-01    1  1.906473
4       광주 2016-01-01    1  0.672151
...    ...        ...  ...       ...
12439   전남 2016-12-31    2  1.496664
12440   전북 2016-12-31    2  1.240987
12441   제주 2016-12-31    2  0.219495
12442   충남 2016-12-31    2  1.015216
12443   충북 2016-12-31    2  0.869882

[12444 rows x 4 columns]

In [63]:
verify['frequency'] = hap['Label']
verify

         yyyymmdd area  sex  frequency
0      2016-01-01   강원    1   1.180475
1      2016-01-01   경기    1   4.757469
2      2016-01-01   경남    1   2.168048
3      2016-01-01   경북    1   1.906473
4      2016-01-01   광주    1   0.672151
...           ...  ...  ...        ...
12439  2016-12-31   전남    2   1.496664
12440  2016-12-31   전북    2   1.240987
12441  2016-12-31   제주    2   0.219495
12442  2016-12-31   충남    2   1.015216
12443  2016-12-31   충북    2   0.869882

[12444 rows x 4 columns]

In [64]:
verify[verify['frequency']<0] = 0

In [65]:
verify.to_csv('Z:/공모전/날씨빅데이터콘테스트(공유)/검증데이터셋제출/220023_es_0804_5.csv', encoding='cp949', index=False)

In [131]:
verify

         yyyymmdd area  sex  frequency
0      2016-01-01   강원    1   1.305771
1      2016-01-01   경기    1   4.618941
2      2016-01-01   경남    1   2.069428
3      2016-01-01   경북    1   1.953093
4      2016-01-01   광주    1   0.923844
...           ...  ...  ...        ...
12439  2016-12-31   전남    2   1.521574
12440  2016-12-31   전북    2   1.245056
12441  2016-12-31   제주    2   0.264006
12442  2016-12-31   충남    2   0.900732
12443  2016-12-31   충북    2   0.828930

[12444 rows x 4 columns]