In [2]:
import numpy as np
import pandas as pd

from pycaret.regression import *
np.__version__

'1.23.1'

# 변수셋3 모델별 비교

In [3]:
male_df = pd.read_csv('Z:/공모전/날씨빅데이터콘테스트(공유)/data/test/hospital_male_0802_test.csv', encoding='cp949')
male_df = male_df.sort_values(['tma', 'area']).reset_index(drop=True)
male_df.mm = male_df.mm.astype('int64')
# male_df.to_csv('hospital_male_0802_test2.csv', encoding='cp949', index=False)
male_df = male_df[~male_df['tma'].astype(str).str.contains('2011-|2016-')].reset_index(drop=True)
male_df.head()

,area,tma,yyyy,mm,dd,weekday,sum_gsr,sum_rn,avg_ps,max_ps,min_ps,so2,o3,pm10,sex,elderly_pop,total_pop,elderly_ratio,avg_age,min_max_ps,D/R,heat_wave,cold_wave,min_hum,max_hum,avg_hum,diff_hum,min_temp,max_temp,avg_temp,diff_temp,pm10_3b,pm10_7b,pm10_31b,frequency
0,강원,2012-01-01,2012,1,1,6,0.000000,0.173611,1023.886667,1026.533333,1020.193333,0.012233,0.027750,86.279167,1,96281,772718,12.460044,39.4,6.340,3.882400,0,0,30.0,95.0,58.333333,65.0,-7.3,5.0,-2.344048,12.3,87.662500,30.158333,15.678261,3.0
1,경기,2012-01-01,2012,1,1,6,0.000000,0.037736,1024.875000,1027.225000,1021.725000,0.009216,0.023165,91.567357,1,447450,6020446,7.432174,36.1,5.500,0.664403,0,0,38.0,65.0,50.733333,27.0,-6.9,1.0,-3.010000,7.9,106.851851,28.537404,13.474891,4.0
2,경남,2012-01-01,2012,1,1,6,0.000000,0.065789,1022.950000,1024.900000,1019.700000,0.008878,0.027277,59.554398,1,152866,1665308,9.179443,37.4,5.200,1.200979,0,0,31.0,78.0,44.916667,47.0,-2.9,7.0,1.642857,9.9,72.989269,26.719907,16.193461,2.0
3,경북,2012-01-01,2012,1,1,6,0.000702,0.721053,1023.268000,1025.488000,1019.800000,0.012868,0.027274,76.618056,1,167115,1354649,12.336406,39.5,5.688,4.429192,0,0,20.0,90.0,52.377778,70.0,-5.9,6.1,0.075556,12.0,88.189236,25.336806,12.743785,6.0
4,광주,2012-01-01,2012,1,1,6,0.000000,0.700000,1025.250000,1027.250000,1023.150000,0.005629,0.027300,44.745833,1,55792,726529,7.679253,35.3,4.100,0.000000,0,0,70.0,85.0,75.833333,15.0,-0.9,3.0,0.383333,3.9,62.750000,18.958333,8.566667,0.0

In [4]:
female_df = pd.read_csv('Z:/공모전/날씨빅데이터콘테스트(공유)/data/test/hospital_female_0802_test.csv', encoding='cp949')
female_df = female_df.sort_values(['tma', 'area']).reset_index(drop=True)
female_df.mm = female_df.mm.astype('int64')
# female_df.to_csv('hospital_female_0802_test2.csv', encoding='cp949', index=False)
female_df = female_df[~female_df['tma'].astype(str).str.contains('2011-|2016-')].reset_index(drop=True)
female_df.head()

,area,tma,yyyy,mm,dd,weekday,sum_gsr,sum_rn,avg_ps,max_ps,min_ps,so2,o3,pm10,sex,elderly_pop,total_pop,elderly_ratio,avg_age,min_max_ps,D/R,heat_wave,cold_wave,min_hum,max_hum,avg_hum,diff_hum,min_temp,max_temp,avg_temp,diff_temp,pm10_3b,pm10_7b,pm10_31b,frequency
0,강원,2012-01-01,2012,1,1,6,0.000000,0.173611,1023.886667,1026.533333,1020.193333,0.012233,0.027750,86.279167,2,137678,762617,18.053361,42.4,6.340,3.933823,0,0,30.0,95.0,58.333333,65.0,-7.3,5.0,-2.344048,12.3,87.662500,30.158333,15.678261,3.0
1,경기,2012-01-01,2012,1,1,6,0.000000,0.037736,1024.875000,1027.225000,1021.725000,0.009216,0.023165,91.567357,2,631291,5928150,10.649039,37.7,5.500,0.843433,0,0,38.0,65.0,50.733333,27.0,-6.9,1.0,-3.010000,7.9,106.851851,28.537404,13.474891,5.0
2,경남,2012-01-01,2012,1,1,6,0.000000,0.065789,1022.950000,1024.900000,1019.700000,0.008878,0.027277,59.554398,2,247889,1644251,15.076105,40.5,5.200,0.608180,0,0,31.0,78.0,44.916667,47.0,-2.9,7.0,1.642857,9.9,72.989269,26.719907,16.193461,1.0
3,경북,2012-01-01,2012,1,1,6,0.000702,0.721053,1023.268000,1025.488000,1019.800000,0.012868,0.027274,76.618056,2,258405,1342455,19.248690,43.2,5.688,0.744904,0,0,20.0,90.0,52.377778,70.0,-5.9,6.1,0.075556,12.0,88.189236,25.336806,12.743785,1.0
4,광주,2012-01-01,2012,1,1,6,0.000000,0.700000,1025.250000,1027.250000,1023.150000,0.005629,0.027300,44.745833,2,81546,738784,11.037868,37.6,4.100,2.707151,0,0,70.0,85.0,75.833333,15.0,-0.9,3.0,0.383333,3.9,62.750000,18.958333,8.566667,2.0

In [63]:
cols_1 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_3b','diff_hum','diff_temp','avg_ps',
          'o3','avg_age','min_max_ps', 'avg_hum','frequency']

cols_2 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_7b','diff_hum','diff_temp','avg_ps',
          'o3','avg_age','min_max_ps', 'avg_hum','frequency']

cols_3 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_31b','diff_hum','diff_temp','avg_ps',
          'o3','avg_age','min_max_ps', 'avg_hum','frequency']

male_dataset = male_df[cols_2]
male_dataset.head(3)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency
0,강원,1,6,0,0,772718,12.460044,30.158333,65.0,12.3,1023.886667,0.027750,39.4,6.34,58.333333,3.0
1,경기,1,6,0,0,6020446,7.432174,28.537404,27.0,7.9,1024.875000,0.023165,36.1,5.50,50.733333,4.0
2,경남,1,6,0,0,1665308,9.179443,26.719907,47.0,9.9,1022.950000,0.027277,37.4,5.20,44.916667,2.0

In [64]:
cols_1 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_3b','diff_hum','diff_temp','avg_ps',
          'avg_age','min_max_ps', 'sum_rn','frequency']

cols_2 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_7b','diff_hum','diff_temp','avg_ps',
          'avg_age','min_max_ps', 'sum_rn','frequency']

cols_3 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_31b','diff_hum','diff_temp','avg_ps',
          'avg_age','min_max_ps', 'sum_rn','frequency']

female_dataset = female_df[cols_2]
female_dataset.head(3)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency
0,강원,1,6,0,0,762617,18.053361,30.158333,65.0,12.3,1023.886667,42.4,6.34,0.173611,3.0
1,경기,1,6,0,0,5928150,10.649039,28.537404,27.0,7.9,1024.875000,37.7,5.50,0.037736,5.0
2,경남,1,6,0,0,1644251,15.076105,26.719907,47.0,9.9,1022.950000,40.5,5.20,0.065789,1.0

# 남자

In [65]:
male_data = male_dataset.sample(frac=0.9, random_state=786) 
male_data_unseen = male_dataset.drop(male_data.index) 

male_data.reset_index(drop=True, inplace=True) 
male_data_unseen.reset_index(drop=True, inplace=True) 

print('Data for Modeling: ' + str(male_data.shape)) 
print('Unseen Data For Predictions: ' + str(male_data_unseen.shape))

Data for Modeling: (22353, 16)
Unseen Data For Predictions: (2484, 16)

In [66]:
s = setup(male_data, target = 'frequency', session_id=123)
# s = setup(female_data, target = 'frequency', session_id=123)

#### best model

In [67]:
best_model_5 = compare_models(sort='RMSE', n_select = 5)

final_model = finalize_model(best_model_5[0])
prediction = predict_model(final_model, data=male_data_unseen)
prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,경기,1,6,0,0,6020446,7.432174,28.537404,27.0,7.9,1024.875000,0.023165,36.1,5.500000,50.733333,4.0,3.894528
1,대구,1,6,0,0,1251881,8.466540,22.562500,32.0,3.9,1022.900000,0.027883,37.2,5.150000,47.000000,1.0,0.868570
2,전남,1,6,0,0,956024,14.325896,21.372917,42.0,7.9,1024.681481,0.031450,40.3,3.721429,62.102564,3.0,1.121678
3,대구,1,1,0,0,1251881,8.466540,32.671402,32.0,7.7,1020.750000,0.022517,37.2,5.700000,46.711864,1.0,1.162823
4,강원,1,2,0,2,772718,12.460044,73.445833,70.0,18.2,1024.880000,0.029025,39.4,8.460000,52.270563,1.0,0.897124

#### tuned_model

In [68]:
tuned_top5 = [tune_model(i, optimize = 'RMSE', n_iter=10) for i in best_model_5]

final_model = finalize_model(tuned_top5[0])
prediction = predict_model(final_model, data=male_data_unseen)
prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,경기,1,6,0,0,6020446,7.432174,28.537404,27.0,7.9,1024.875000,0.023165,36.1,5.500000,50.733333,4.0,3.330001
1,대구,1,6,0,0,1251881,8.466540,22.562500,32.0,3.9,1022.900000,0.027883,37.2,5.150000,47.000000,1.0,1.057837
2,전남,1,6,0,0,956024,14.325896,21.372917,42.0,7.9,1024.681481,0.031450,40.3,3.721429,62.102564,3.0,1.226772
3,대구,1,1,0,0,1251881,8.466540,32.671402,32.0,7.7,1020.750000,0.022517,37.2,5.700000,46.711864,1.0,1.157375
4,강원,1,2,0,2,772718,12.460044,73.445833,70.0,18.2,1024.880000,0.029025,39.4,8.460000,52.270563,1.0,1.219758

#### blender(best_models)

In [69]:
blender_male = blend_models(estimator_list=best_model_5, optimize = 'RMSE')
# blender_female = blend_models(estimator_list=best_model_5, optimize = 'RMSE')

In [70]:
predict_model(blender_male)
# predict_model(blender_female)

,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,1354791.0,12.728827,69.205360,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.868566
1,1737884.0,12.305367,33.420986,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4.0,1.930060
2,759778.0,9.317327,54.810986,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.848070
3,1664550.0,9.238954,42.138599,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,2.200895
4,932775.0,13.073034,50.942028,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.022945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1670545.0,9.560892,55.295876,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.923825
6702,775636.0,13.379729,40.266666,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.069041
6703,955003.0,14.464353,23.287500,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.104143
6704,1248869.0,9.019361,36.869793,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.953245
6705,933565.0,12.673141,33.636112,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.368237

In [71]:
final_model = finalize_model(blender_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(blender_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,경기,1,6,0,0,6020446,7.432174,28.537404,27.0,7.9,1024.875000,0.023165,36.1,5.500000,50.733333,4.0,4.118670
1,대구,1,6,0,0,1251881,8.466540,22.562500,32.0,3.9,1022.900000,0.027883,37.2,5.150000,47.000000,1.0,0.868912
2,전남,1,6,0,0,956024,14.325896,21.372917,42.0,7.9,1024.681481,0.031450,40.3,3.721429,62.102564,3.0,1.122668
3,대구,1,1,0,0,1251881,8.466540,32.671402,32.0,7.7,1020.750000,0.022517,37.2,5.700000,46.711864,1.0,1.174632
4,강원,1,2,0,2,772718,12.460044,73.445833,70.0,18.2,1024.880000,0.029025,39.4,8.460000,52.270563,1.0,1.071698

#### beldner(tuned models)

In [72]:
blender_male = blend_models(estimator_list=tuned_top5, optimize = 'RMSE')
# blender_female = blend_models(estimator_list=tuned_top5, optimize = 'RMSE')

In [73]:
predict_model(blender_male)
# predict_model(blender_female)

,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,1354791.0,12.728827,69.205360,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.850517
1,1737884.0,12.305367,33.420986,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4.0,1.936817
2,759778.0,9.317327,54.810986,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.884429
3,1664550.0,9.238954,42.138599,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,2.074282
4,932775.0,13.073034,50.942028,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.983694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1670545.0,9.560892,55.295876,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.866795
6702,775636.0,13.379729,40.266666,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.130023
6703,955003.0,14.464353,23.287500,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.174663
6704,1248869.0,9.019361,36.869793,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.952845
6705,933565.0,12.673141,33.636112,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.380985

In [74]:
final_model = finalize_model(blender_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(blender_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,경기,1,6,0,0,6020446,7.432174,28.537404,27.0,7.9,1024.875000,0.023165,36.1,5.500000,50.733333,4.0,3.962199
1,대구,1,6,0,0,1251881,8.466540,22.562500,32.0,3.9,1022.900000,0.027883,37.2,5.150000,47.000000,1.0,0.928426
2,전남,1,6,0,0,956024,14.325896,21.372917,42.0,7.9,1024.681481,0.031450,40.3,3.721429,62.102564,3.0,1.159294
3,대구,1,1,0,0,1251881,8.466540,32.671402,32.0,7.7,1020.750000,0.022517,37.2,5.700000,46.711864,1.0,1.222444
4,강원,1,2,0,2,772718,12.460044,73.445833,70.0,18.2,1024.880000,0.029025,39.4,8.460000,52.270563,1.0,1.169384

#### bagging(best model)

In [75]:
bagging_male = ensemble_model(best_model_5[0], method='Bagging', choose_better = True)
# bagging_female = ensemble_model(best_model_5[0], method='Bagging', choose_better = True)

In [76]:
predict_model(bagging_male)
# predict_model(bagging_female)

,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,1354791.0,12.728827,69.205360,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.828236
1,1737884.0,12.305367,33.420986,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4.0,1.880472
2,759778.0,9.317327,54.810986,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.765956
3,1664550.0,9.238954,42.138599,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,2.134848
4,932775.0,13.073034,50.942028,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.017277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1670545.0,9.560892,55.295876,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.920299
6702,775636.0,13.379729,40.266666,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.091567
6703,955003.0,14.464353,23.287500,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.033716
6704,1248869.0,9.019361,36.869793,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.997072
6705,933565.0,12.673141,33.636112,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.340173

In [77]:
final_model = finalize_model(bagging_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(bagging_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,경기,1,6,0,0,6020446,7.432174,28.537404,27.0,7.9,1024.875000,0.023165,36.1,5.500000,50.733333,4.0,3.901547
1,대구,1,6,0,0,1251881,8.466540,22.562500,32.0,3.9,1022.900000,0.027883,37.2,5.150000,47.000000,1.0,0.881763
2,전남,1,6,0,0,956024,14.325896,21.372917,42.0,7.9,1024.681481,0.031450,40.3,3.721429,62.102564,3.0,1.082471
3,대구,1,1,0,0,1251881,8.466540,32.671402,32.0,7.7,1020.750000,0.022517,37.2,5.700000,46.711864,1.0,1.149090
4,강원,1,2,0,2,772718,12.460044,73.445833,70.0,18.2,1024.880000,0.029025,39.4,8.460000,52.270563,1.0,0.932436

#### bagging(tuned model)

In [78]:
bagging_male = ensemble_model(tuned_top5[0], method='Bagging', choose_better = True)
# bagging_female = ensemble_model(tuned_top5[0], method='Bagging', choose_better = True)

In [79]:
predict_model(bagging_male)
# predict_model(bagging_female)

,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,1354791.0,12.728827,69.205360,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.646217
1,1737884.0,12.305367,33.420986,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4.0,1.702426
2,759778.0,9.317327,54.810986,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.053157
3,1664550.0,9.238954,42.138599,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.764488
4,932775.0,13.073034,50.942028,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.227087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1670545.0,9.560892,55.295876,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.680710
6702,775636.0,13.379729,40.266666,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.226161
6703,955003.0,14.464353,23.287500,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.257070
6704,1248869.0,9.019361,36.869793,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.189529
6705,933565.0,12.673141,33.636112,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.346825

In [80]:
final_model = finalize_model(bagging_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(bagging_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,경기,1,6,0,0,6020446,7.432174,28.537404,27.0,7.9,1024.875000,0.023165,36.1,5.500000,50.733333,4.0,3.330001
1,대구,1,6,0,0,1251881,8.466540,22.562500,32.0,3.9,1022.900000,0.027883,37.2,5.150000,47.000000,1.0,1.057837
2,전남,1,6,0,0,956024,14.325896,21.372917,42.0,7.9,1024.681481,0.031450,40.3,3.721429,62.102564,3.0,1.226772
3,대구,1,1,0,0,1251881,8.466540,32.671402,32.0,7.7,1020.750000,0.022517,37.2,5.700000,46.711864,1.0,1.157375
4,강원,1,2,0,2,772718,12.460044,73.445833,70.0,18.2,1024.880000,0.029025,39.4,8.460000,52.270563,1.0,1.219758

#### boosting(best model)

In [81]:
boosting_male = ensemble_model(best_model_5[0], method='Boosting', choose_better = True)
# boosting_female = ensemble_model(best_model_5[0], method='Boosting', choose_better = True)

In [82]:
predict_model(boosting_male)
# predict_model(boosting_female)

,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,1354791.0,12.728827,69.205360,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.908224
1,1737884.0,12.305367,33.420986,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4.0,1.935204
2,759778.0,9.317327,54.810986,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.746849
3,1664550.0,9.238954,42.138599,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,2.284595
4,932775.0,13.073034,50.942028,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.038519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1670545.0,9.560892,55.295876,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.925978
6702,775636.0,13.379729,40.266666,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.115497
6703,955003.0,14.464353,23.287500,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.052761
6704,1248869.0,9.019361,36.869793,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.018727
6705,933565.0,12.673141,33.636112,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.343891

In [83]:
final_model = finalize_model(boosting_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(boosting_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,경기,1,6,0,0,6020446,7.432174,28.537404,27.0,7.9,1024.875000,0.023165,36.1,5.500000,50.733333,4.0,3.894528
1,대구,1,6,0,0,1251881,8.466540,22.562500,32.0,3.9,1022.900000,0.027883,37.2,5.150000,47.000000,1.0,0.868570
2,전남,1,6,0,0,956024,14.325896,21.372917,42.0,7.9,1024.681481,0.031450,40.3,3.721429,62.102564,3.0,1.121678
3,대구,1,1,0,0,1251881,8.466540,32.671402,32.0,7.7,1020.750000,0.022517,37.2,5.700000,46.711864,1.0,1.162823
4,강원,1,2,0,2,772718,12.460044,73.445833,70.0,18.2,1024.880000,0.029025,39.4,8.460000,52.270563,1.0,0.897124

#### boosting (tuned model)

In [84]:
boosting_male = ensemble_model(tuned_top5[0], method='Boosting', choose_better = True)
# boosting_female = ensemble_model(tuned_top5[0], method='Boosting', choose_better = True)

In [85]:
predict_model(boosting_male)
# predict_model(boosting_female)

,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,1354791.0,12.728827,69.205360,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2.464825
1,1737884.0,12.305367,33.420986,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4.0,2.121588
2,759778.0,9.317327,54.810986,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.354776
3,1664550.0,9.238954,42.138599,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,2.323396
4,932775.0,13.073034,50.942028,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.556801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1670545.0,9.560892,55.295876,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,2.146992
6702,775636.0,13.379729,40.266666,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.632138
6703,955003.0,14.464353,23.287500,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.560925
6704,1248869.0,9.019361,36.869793,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.469967
6705,933565.0,12.673141,33.636112,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.715454

In [86]:
final_model = finalize_model(boosting_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(boosting_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,경기,1,6,0,0,6020446,7.432174,28.537404,27.0,7.9,1024.875000,0.023165,36.1,5.500000,50.733333,4.0,4.481215
1,대구,1,6,0,0,1251881,8.466540,22.562500,32.0,3.9,1022.900000,0.027883,37.2,5.150000,47.000000,1.0,1.373703
2,전남,1,6,0,0,956024,14.325896,21.372917,42.0,7.9,1024.681481,0.031450,40.3,3.721429,62.102564,3.0,1.463085
3,대구,1,1,0,0,1251881,8.466540,32.671402,32.0,7.7,1020.750000,0.022517,37.2,5.700000,46.711864,1.0,1.504239
4,강원,1,2,0,2,772718,12.460044,73.445833,70.0,18.2,1024.880000,0.029025,39.4,8.460000,52.270563,1.0,1.452886

#### stacking(best_models)

In [87]:
stack_male = stack_models(best_model_5)
# stack_female = stack_models(best_model_5)

In [88]:
predict_model(stack_male)
# predict_model(stack_female)

,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,1354791.0,12.728827,69.205360,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.935760
1,1737884.0,12.305367,33.420986,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4.0,1.908630
2,759778.0,9.317327,54.810986,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.816611
3,1664550.0,9.238954,42.138599,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,2.295528
4,932775.0,13.073034,50.942028,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.011523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1670545.0,9.560892,55.295876,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.971993
6702,775636.0,13.379729,40.266666,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.083452
6703,955003.0,14.464353,23.287500,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.133776
6704,1248869.0,9.019361,36.869793,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.938250
6705,933565.0,12.673141,33.636112,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.367164

In [89]:
final_model = finalize_model(stack_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(stack_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,경기,1,6,0,0,6020446,7.432174,28.537404,27.0,7.9,1024.875000,0.023165,36.1,5.500000,50.733333,4.0,4.142018
1,대구,1,6,0,0,1251881,8.466540,22.562500,32.0,3.9,1022.900000,0.027883,37.2,5.150000,47.000000,1.0,0.900916
2,전남,1,6,0,0,956024,14.325896,21.372917,42.0,7.9,1024.681481,0.031450,40.3,3.721429,62.102564,3.0,1.160357
3,대구,1,1,0,0,1251881,8.466540,32.671402,32.0,7.7,1020.750000,0.022517,37.2,5.700000,46.711864,1.0,1.214007
4,강원,1,2,0,2,772718,12.460044,73.445833,70.0,18.2,1024.880000,0.029025,39.4,8.460000,52.270563,1.0,1.016021

#### stacking(tuned models)

In [90]:
stack_male = stack_models(tuned_top5)
# stack_female = stack_models(tuned_top5)

In [91]:
predict_model(stack_male)
# predict_model(stack_female)

,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,1354791.0,12.728827,69.205360,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.896898
1,1737884.0,12.305367,33.420986,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4.0,1.985912
2,759778.0,9.317327,54.810986,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.864984
3,1664550.0,9.238954,42.138599,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,2.080539
4,932775.0,13.073034,50.942028,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.932575
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1670545.0,9.560892,55.295876,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.915673
6702,775636.0,13.379729,40.266666,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.100620
6703,955003.0,14.464353,23.287500,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.117192
6704,1248869.0,9.019361,36.869793,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.907868
6705,933565.0,12.673141,33.636112,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.382486

In [92]:
final_model = finalize_model(stack_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(stack_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,경기,1,6,0,0,6020446,7.432174,28.537404,27.0,7.9,1024.875000,0.023165,36.1,5.500000,50.733333,4.0,3.987570
1,대구,1,6,0,0,1251881,8.466540,22.562500,32.0,3.9,1022.900000,0.027883,37.2,5.150000,47.000000,1.0,0.854175
2,전남,1,6,0,0,956024,14.325896,21.372917,42.0,7.9,1024.681481,0.031450,40.3,3.721429,62.102564,3.0,1.112024
3,대구,1,1,0,0,1251881,8.466540,32.671402,32.0,7.7,1020.750000,0.022517,37.2,5.700000,46.711864,1.0,1.191641
4,강원,1,2,0,2,772718,12.460044,73.445833,70.0,18.2,1024.880000,0.029025,39.4,8.460000,52.270563,1.0,1.110559

# 여자

In [93]:
female_data = female_dataset.sample(frac=0.9, random_state=786) 
female_data_unseen = female_dataset.drop(female_data.index) 

female_data.reset_index(drop=True, inplace=True) 
female_data_unseen.reset_index(drop=True, inplace=True) 

print('Female Data for Modeling: ' + str(female_data.shape)) 
print('Unseen Data For Predictions: ' + str(female_data_unseen.shape))

Female Data for Modeling: (22353, 15)
Unseen Data For Predictions: (2484, 15)

In [94]:
# s = setup(male_data, target = 'frequency', session_id=123)
s = setup(female_data, target = 'frequency', session_id=123)

#### best models

In [95]:
best_model_5 = compare_models(sort='RMSE', n_select = 5)

final_model = finalize_model(best_model_5[0])
prediction = predict_model(final_model, data=female_data_unseen)
prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,경기,1,6,0,0,5928150,10.649039,28.537404,27.0,7.9,1024.875000,37.7,5.500000,0.037736,5.0,3.553125
1,대구,1,6,0,0,1256489,12.375118,22.562500,32.0,3.9,1022.900000,40.0,5.150000,0.166667,0.0,0.996419
2,전남,1,6,0,0,956701,23.026421,21.372917,42.0,7.9,1024.681481,44.3,3.721429,0.297297,6.0,1.250085
3,대구,1,1,0,0,1256489,12.375118,32.671402,32.0,7.7,1020.750000,40.0,5.700000,0.500000,1.0,1.247623
4,강원,1,2,0,2,762617,18.053361,73.445833,70.0,18.2,1024.880000,42.4,8.460000,0.000000,2.0,0.918928

#### tuned models

In [96]:
tuned_top5 = [tune_model(i, optimize = 'RMSE', n_iter=10) for i in best_model_5]

final_model = finalize_model(tuned_top5[0])
prediction = predict_model(final_model, data=female_data_unseen)
prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,경기,1,6,0,0,5928150,10.649039,28.537404,27.0,7.9,1024.875000,37.7,5.500000,0.037736,5.0,3.308429
1,대구,1,6,0,0,1256489,12.375118,22.562500,32.0,3.9,1022.900000,40.0,5.150000,0.166667,0.0,1.139493
2,전남,1,6,0,0,956701,23.026421,21.372917,42.0,7.9,1024.681481,44.3,3.721429,0.297297,6.0,1.301802
3,대구,1,1,0,0,1256489,12.375118,32.671402,32.0,7.7,1020.750000,40.0,5.700000,0.500000,1.0,1.228185
4,강원,1,2,0,2,762617,18.053361,73.445833,70.0,18.2,1024.880000,42.4,8.460000,0.000000,2.0,1.170446

#### blending (best models)

In [97]:
# blender_male = blend_models(estimator_list=best_model_5, optimize = 'RMSE')
blender_female = blend_models(estimator_list=best_model_5, optimize = 'RMSE')

In [98]:
# predict_model(blender_male)
predict_model(blender_female)

,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,area_강원,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,1342778.0,19.652466,69.205360,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.821352
1,1777955.0,16.048269,33.420986,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.794119
2,758997.0,12.481868,54.810986,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.793022
3,1643272.0,15.142898,42.138599,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,2.507681
4,939536.0,19.553162,50.942028,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.104917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1648769.0,15.472878,55.295876,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.999389
6702,765109.0,19.142370,40.266666,71.0,17.10,972.428589,43.500000,145.024994,0.001333,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.947686
6703,955743.0,23.193159,23.287500,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.457522
6704,1256076.0,12.991810,36.869793,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.987935
6705,939576.0,19.100424,33.636112,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.685738

In [99]:
# final_model = finalize_model(blender_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(blender_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,경기,1,6,0,0,5928150,10.649039,28.537404,27.0,7.9,1024.875000,37.7,5.500000,0.037736,5.0,3.847965
1,대구,1,6,0,0,1256489,12.375118,22.562500,32.0,3.9,1022.900000,40.0,5.150000,0.166667,0.0,0.959046
2,전남,1,6,0,0,956701,23.026421,21.372917,42.0,7.9,1024.681481,44.3,3.721429,0.297297,6.0,1.338694
3,대구,1,1,0,0,1256489,12.375118,32.671402,32.0,7.7,1020.750000,40.0,5.700000,0.500000,1.0,1.305994
4,강원,1,2,0,2,762617,18.053361,73.445833,70.0,18.2,1024.880000,42.4,8.460000,0.000000,2.0,1.055765

#### blending (tuned models)

In [100]:
# blender_male = blend_models(estimator_list=tuned_top5, optimize = 'RMSE')
blender_female = blend_models(estimator_list=tuned_top5, optimize = 'RMSE')

In [101]:
# predict_model(blender_male)
predict_model(blender_female)

,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,area_강원,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,1342778.0,19.652466,69.205360,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.826195
1,1777955.0,16.048269,33.420986,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.668811
2,758997.0,12.481868,54.810986,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.830006
3,1643272.0,15.142898,42.138599,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,2.388298
4,939536.0,19.553162,50.942028,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.131366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1648769.0,15.472878,55.295876,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.012902
6702,765109.0,19.142370,40.266666,71.0,17.10,972.428589,43.500000,145.024994,0.001333,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.026065
6703,955743.0,23.193159,23.287500,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.506256
6704,1256076.0,12.991810,36.869793,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.048885
6705,939576.0,19.100424,33.636112,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.709251

In [102]:
# final_model = finalize_model(blender_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(blender_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,경기,1,6,0,0,5928150,10.649039,28.537404,27.0,7.9,1024.875000,37.7,5.500000,0.037736,5.0,3.887937
1,대구,1,6,0,0,1256489,12.375118,22.562500,32.0,3.9,1022.900000,40.0,5.150000,0.166667,0.0,0.910781
2,전남,1,6,0,0,956701,23.026421,21.372917,42.0,7.9,1024.681481,44.3,3.721429,0.297297,6.0,1.339036
3,대구,1,1,0,0,1256489,12.375118,32.671402,32.0,7.7,1020.750000,40.0,5.700000,0.500000,1.0,1.275481
4,강원,1,2,0,2,762617,18.053361,73.445833,70.0,18.2,1024.880000,42.4,8.460000,0.000000,2.0,1.117145

#### bagging (best model)

In [103]:
# bagging_male = ensemble_model(best_model_5[0], method='Bagging', choose_better = True)
bagging_female = ensemble_model(best_model_5[0], method='Bagging', choose_better = True)

In [104]:
# predict_model(bagging_male)
predict_model(bagging_female)

,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,area_강원,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,1342778.0,19.652466,69.205360,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.853611
1,1777955.0,16.048269,33.420986,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.824549
2,758997.0,12.481868,54.810986,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.770427
3,1643272.0,15.142898,42.138599,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,2.531517
4,939536.0,19.553162,50.942028,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.100278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1648769.0,15.472878,55.295876,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.044583
6702,765109.0,19.142370,40.266666,71.0,17.10,972.428589,43.500000,145.024994,0.001333,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.933503
6703,955743.0,23.193159,23.287500,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.587978
6704,1256076.0,12.991810,36.869793,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.016650
6705,939576.0,19.100424,33.636112,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.581895

In [105]:
# final_model = finalize_model(bagging_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(bagging_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,경기,1,6,0,0,5928150,10.649039,28.537404,27.0,7.9,1024.875000,37.7,5.500000,0.037736,5.0,3.557427
1,대구,1,6,0,0,1256489,12.375118,22.562500,32.0,3.9,1022.900000,40.0,5.150000,0.166667,0.0,1.019294
2,전남,1,6,0,0,956701,23.026421,21.372917,42.0,7.9,1024.681481,44.3,3.721429,0.297297,6.0,1.203139
3,대구,1,1,0,0,1256489,12.375118,32.671402,32.0,7.7,1020.750000,40.0,5.700000,0.500000,1.0,1.274465
4,강원,1,2,0,2,762617,18.053361,73.445833,70.0,18.2,1024.880000,42.4,8.460000,0.000000,2.0,0.930529

#### bagging (tuned model)

In [106]:
# bagging_male = ensemble_model(tuned_top5[0], method='Bagging', choose_better = True)
bagging_female = ensemble_model(tuned_top5[0], method='Bagging', choose_better = True)

In [107]:
# predict_model(bagging_male)
predict_model(bagging_female)

,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,area_강원,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,1342778.0,19.652466,69.205360,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.751767
1,1777955.0,16.048269,33.420986,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.577239
2,758997.0,12.481868,54.810986,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.016405
3,1643272.0,15.142898,42.138599,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,2.063191
4,939536.0,19.553162,50.942028,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.225475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1648769.0,15.472878,55.295876,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.833737
6702,765109.0,19.142370,40.266666,71.0,17.10,972.428589,43.500000,145.024994,0.001333,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.135376
6703,955743.0,23.193159,23.287500,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.480388
6704,1256076.0,12.991810,36.869793,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.187577
6705,939576.0,19.100424,33.636112,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.471250

In [108]:
# final_model = finalize_model(bagging_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(bagging_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,경기,1,6,0,0,5928150,10.649039,28.537404,27.0,7.9,1024.875000,37.7,5.500000,0.037736,5.0,3.308429
1,대구,1,6,0,0,1256489,12.375118,22.562500,32.0,3.9,1022.900000,40.0,5.150000,0.166667,0.0,1.139493
2,전남,1,6,0,0,956701,23.026421,21.372917,42.0,7.9,1024.681481,44.3,3.721429,0.297297,6.0,1.301802
3,대구,1,1,0,0,1256489,12.375118,32.671402,32.0,7.7,1020.750000,40.0,5.700000,0.500000,1.0,1.228185
4,강원,1,2,0,2,762617,18.053361,73.445833,70.0,18.2,1024.880000,42.4,8.460000,0.000000,2.0,1.170446

#### boosting (best model)

In [109]:
# boosting_male = ensemble_model(best_model_5[0], method='Boosting', choose_better = True)
boosting_female = ensemble_model(best_model_5[0], method='Boosting', choose_better = True)

In [110]:
# predict_model(boosting_male)
predict_model(boosting_female)

,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,area_강원,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,1342778.0,19.652466,69.205360,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.873024
1,1777955.0,16.048269,33.420986,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.725362
2,758997.0,12.481868,54.810986,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.821363
3,1643272.0,15.142898,42.138599,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,2.667713
4,939536.0,19.553162,50.942028,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.114903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1648769.0,15.472878,55.295876,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.040062
6702,765109.0,19.142370,40.266666,71.0,17.10,972.428589,43.500000,145.024994,0.001333,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.936707
6703,955743.0,23.193159,23.287500,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.527375
6704,1256076.0,12.991810,36.869793,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.994815
6705,939576.0,19.100424,33.636112,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.649239

In [111]:
# final_model = finalize_model(boosting_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(boosting_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,경기,1,6,0,0,5928150,10.649039,28.537404,27.0,7.9,1024.875000,37.7,5.500000,0.037736,5.0,3.553125
1,대구,1,6,0,0,1256489,12.375118,22.562500,32.0,3.9,1022.900000,40.0,5.150000,0.166667,0.0,0.996419
2,전남,1,6,0,0,956701,23.026421,21.372917,42.0,7.9,1024.681481,44.3,3.721429,0.297297,6.0,1.250085
3,대구,1,1,0,0,1256489,12.375118,32.671402,32.0,7.7,1020.750000,40.0,5.700000,0.500000,1.0,1.247623
4,강원,1,2,0,2,762617,18.053361,73.445833,70.0,18.2,1024.880000,42.4,8.460000,0.000000,2.0,0.918928

#### boosting (tuned model)

In [112]:
# boosting_male = ensemble_model(tuned_top5[0], method='Boosting', choose_better = True)
boosting_female = ensemble_model(tuned_top5[0], method='Boosting', choose_better = True)

In [113]:
# predict_model(boosting_male)
predict_model(boosting_female)

,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,area_강원,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,1342778.0,19.652466,69.205360,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,2.258231
1,1777955.0,16.048269,33.420986,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.973484
2,758997.0,12.481868,54.810986,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.237847
3,1643272.0,15.142898,42.138599,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,2.508037
4,939536.0,19.553162,50.942028,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.429391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1648769.0,15.472878,55.295876,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.173644
6702,765109.0,19.142370,40.266666,71.0,17.10,972.428589,43.500000,145.024994,0.001333,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.416761
6703,955743.0,23.193159,23.287500,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.901446
6704,1256076.0,12.991810,36.869793,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.427316
6705,939576.0,19.100424,33.636112,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.040537

In [114]:
# final_model = finalize_model(boosting_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(boosting_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,경기,1,6,0,0,5928150,10.649039,28.537404,27.0,7.9,1024.875000,37.7,5.500000,0.037736,5.0,3.834902
1,대구,1,6,0,0,1256489,12.375118,22.562500,32.0,3.9,1022.900000,40.0,5.150000,0.166667,0.0,1.199107
2,전남,1,6,0,0,956701,23.026421,21.372917,42.0,7.9,1024.681481,44.3,3.721429,0.297297,6.0,1.482875
3,대구,1,1,0,0,1256489,12.375118,32.671402,32.0,7.7,1020.750000,40.0,5.700000,0.500000,1.0,1.356837
4,강원,1,2,0,2,762617,18.053361,73.445833,70.0,18.2,1024.880000,42.4,8.460000,0.000000,2.0,1.179511

#### stacking (best models)

In [115]:
# stack_male = stack_models(best_model_5)
stack_female = stack_models(best_model_5)

In [116]:
# predict_model(stack_male)
predict_model(stack_female)

,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,area_강원,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,1342778.0,19.652466,69.205360,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.820448
1,1777955.0,16.048269,33.420986,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.711480
2,758997.0,12.481868,54.810986,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.792638
3,1643272.0,15.142898,42.138599,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,2.630192
4,939536.0,19.553162,50.942028,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.127649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1648769.0,15.472878,55.295876,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.023754
6702,765109.0,19.142370,40.266666,71.0,17.10,972.428589,43.500000,145.024994,0.001333,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.965288
6703,955743.0,23.193159,23.287500,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.522698
6704,1256076.0,12.991810,36.869793,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.007841
6705,939576.0,19.100424,33.636112,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.711828

In [117]:
# final_model = finalize_model(stack_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(stack_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,경기,1,6,0,0,5928150,10.649039,28.537404,27.0,7.9,1024.875000,37.7,5.500000,0.037736,5.0,3.873768
1,대구,1,6,0,0,1256489,12.375118,22.562500,32.0,3.9,1022.900000,40.0,5.150000,0.166667,0.0,1.020539
2,전남,1,6,0,0,956701,23.026421,21.372917,42.0,7.9,1024.681481,44.3,3.721429,0.297297,6.0,1.356143
3,대구,1,1,0,0,1256489,12.375118,32.671402,32.0,7.7,1020.750000,40.0,5.700000,0.500000,1.0,1.362473
4,강원,1,2,0,2,762617,18.053361,73.445833,70.0,18.2,1024.880000,42.4,8.460000,0.000000,2.0,1.026005

#### stacking (tuned models)

In [118]:
# stack_male = stack_models(tuned_top5)
stack_female = stack_models(tuned_top5)

In [119]:
# predict_model(stack_male)
predict_model(stack_female)

,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,area_강원,...,weekday_5,weekday_6,heat_wave_0,heat_wave_1,heat_wave_2,cold_wave_0,cold_wave_1,cold_wave_2,frequency,Label
0,1342778.0,19.652466,69.205360,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.860928
1,1777955.0,16.048269,33.420986,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.700963
2,758997.0,12.481868,54.810986,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.775007
3,1643272.0,15.142898,42.138599,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,2.573847
4,939536.0,19.553162,50.942028,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,1.107050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1648769.0,15.472878,55.295876,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.106318
6702,765109.0,19.142370,40.266666,71.0,17.10,972.428589,43.500000,145.024994,0.001333,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.033094
6703,955743.0,23.193159,23.287500,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.536379
6704,1256076.0,12.991810,36.869793,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.059967
6705,939576.0,19.100424,33.636112,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.778452

In [120]:
# final_model = finalize_model(stack_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(stack_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_7b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,경기,1,6,0,0,5928150,10.649039,28.537404,27.0,7.9,1024.875000,37.7,5.500000,0.037736,5.0,4.047902
1,대구,1,6,0,0,1256489,12.375118,22.562500,32.0,3.9,1022.900000,40.0,5.150000,0.166667,0.0,0.905374
2,전남,1,6,0,0,956701,23.026421,21.372917,42.0,7.9,1024.681481,44.3,3.721429,0.297297,6.0,1.281887
3,대구,1,1,0,0,1256489,12.375118,32.671402,32.0,7.7,1020.750000,40.0,5.700000,0.500000,1.0,1.286233
4,강원,1,2,0,2,762617,18.053361,73.445833,70.0,18.2,1024.880000,42.4,8.460000,0.000000,2.0,1.158838